html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0
}

header {
	display: block
}

video {
	display: inline-block;
	vertical-align: baseline
}

[hidden] {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

@media print {
	*,
	:after,
	:before {
		color: #000!important;
		text-shadow: none!important;
		background: 0 0!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	img {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

a {
	color: #337ab7;
	text-decoration: none
}

a:focus,
a:hover {
	color: #23527c;
	text-decoration: underline
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

img {
	vertical-align: middle
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}

[role=button] {
	cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px
}

.h1,
h1 {
	font-size: 36px
}

.h2,
h2 {
	font-size: 30px
}

.h3,
h3 {
	font-size: 24px
}

.h4,
h4 {
	font-size: 18px
}

.h5,
h5 {
	font-size: 14px
}

.h6,
h6 {
	font-size: 12px
}

p {
	margin: 0 0 10px
}

ul {
	margin-top: 0;
	margin-bottom: 10px
}

ul ul {
	margin-bottom: 0
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

@media (min-width:1200px) {
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9 {
		float: left
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-11 {
		width: 91.66666667%
	}
	.col-lg-10 {
		width: 83.33333333%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-8 {
		width: 66.66666667%
	}
	.col-lg-7 {
		width: 58.33333333%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-5 {
		width: 41.66666667%
	}
	.col-lg-4 {
		width: 33.33333333%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-2 {
		width: 16.66666667%
	}
	.col-lg-1 {
		width: 8.33333333%
	}
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn:focus,
.btn:hover {
	color: #333;
	text-decoration: none
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default:active,
.btn-default:focus,
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default:active {
	background-image: none
}

.btn-default[disabled],
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover {
	background-color: #fff;
	border-color: #ccc
}

.btn-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
	border-color: transparent
}

.btn-link:focus,
.btn-link:hover {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent
}

.btn-link[disabled]:focus,
.btn-link[disabled]:hover {
	color: #777;
	text-decoration: none
}

.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

@-o-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0
	}
	to {
		background-position: 0 0
	}
}

.container:after,
.container:before,
.row:after,
.row:before {
	display: table;
	content: " "
}

.container:after,
.row:after {
	clear: both
}

body {
	background-color: #191919
}

img {
	border-radius: 50%;
	width: 35%;
	max-width: 200px
}

.site-title {
	margin: 1em 0 0;
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	text-decoration: none;
	margin-bottom: .4375em
}

.site-description {
	opacity: .8!important
}

.site-description {
	margin: .4375em 0 0;
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	word-wrap: break-word;
	color: #929292
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	color: #f7e8e8!important
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: helvetica neue, Helvetica, Arial, sans-serif;
	font-weight: 700
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background-size: cover
}

.intro-message {
	position: relative;
	padding-top: 10%;
	padding-bottom: 20%
}

.intro-message>h1 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
	font-size: 5em
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.intro-message>h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, .6)
}

@media (max-width:767px) {
	.intro-message {
		padding-bottom: 15%
	}
	.intro-message>h1 {
		font-size: 3em
	}
	ul.intro-social-buttons>li {
		display: block;
		margin-bottom: 20px;
		padding: 0
	}
	ul.intro-social-buttons>li:last-child {
		margin-bottom: 0
	}
	.intro-divider {
		width: 100%
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px
}

@font-face {
	font-family: FontAwesome;
    src:  url(fonts/fontawesome-webfont.woff?v=4.2.0) format('woff2');
    font-weight: 400;
	font-style: normal
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fa-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%
}

.fa-2x {
	font-size: 2em
}

.fa-3x {
	font-size: 3em
}

.fa-4x {
	font-size: 4em
}

.fa-5x {
	font-size: 5em
}

.fa-fw {
	width: 1.28571429em;
	text-align: center
}

.fa-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none
}

.fa-ul>li {
	position: relative
}

.fa-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: .14285714em;
	text-align: center
}

.fa-li.fa-lg {
	left: -1.85714286em
}

@-webkit-keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes fa-spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

.fa-list:before {
	content: "\f03a"
}

.fa-image:before {
	content: "\f03e"
}

.fa-twitter:before {
	content: "\f099"
}

.fa-facebook:before {
	content: "\f09a"
}

.fa-github:before {
	content: "\f09b"
}

.fa-link:before {
	content: "\f0c1"
}

.fa-list-ul:before {
	content: "\f0ca"
}

.fa-html5:before {
	content: "\f13b"
}

.fa-css3:before {
	content: "\f13c"
}

.fa-youtube:before {
	content: "\f167"
}

.fa-apple:before {
	content: "\f179"
}

.fa-wordpress:before {
	content: "\f19a"
}

.fa-header:before {
	content: "\f1dc"
}

.fa-twitch:before {
	content: "\f1e8"
}